/Deathsxy10.pdf
/Deathsyx10.pdf
/Leafyx10.pdf
/Pyrxy10.pdf
/YearsLostLivedyx10.pdf
/YearsLostLivedyx10COD.pdf
/YearsSavedGainedxx10.pdf
/YearsSavedGainedxx10COD.pdf
/LifeLine.pdf
/fya.pdf
/Deathsxy10USAExternal.pdf
/Deathsyx10USAExternal.pdf
/YearsLostLivedyx10USAExternal.pdf
/YearsSavedGainedxx10USAExternal.pdf
/Causes
/Deathsxy10USACancer.pdf
/Deathsxy10USACardio.pdf
/Deathsyx10USACancer.pdf
/Deathsyx10USACardio.pdf
/YearsLostLivedyx10USACancer.pdf
/YearsLostLivedyx10USACardio.pdf
/YearsSavedGainedxx10USACancer.pdf
/YearsSavedGainedxx10USACardio.pdf
